body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 2em;
    background-color: #EDEDED;
}

h3 {
    color: maroon;
    border-bottom: 1px solid #929CA4;
}

p:first-of-type::first-letter {
    font-size: 30px;
}

.solution {
    color: #CC1C0D;
    font-weight: bold;   
}

#testimonial1, #testimonial2 {
    font-style: italic;
    margin-left: 50px;
}

a[href^="http"]:active {
    background-color: red;
    text-decoration: line-through;
}

a[href^="http"]:link {
    background-color: lightblue;
    text-decoration: solid;
}

a[href^="http"]:hover {
    background-color: green;
    text-decoration: none;
}

a[href^="http"]:visited {
    background-color: coral;
    text-decoration: transparent;
}


ul {
    list-style-type: none
}

ul li:first-child {
    color: blue;
}

ul li:last-child {
    color: red;
}